<div class="app-root-layout">
  <app-navbar 
    (openUsers)="showUserManagerModal.set(true)" 
    (openAuth)="showAuthModal.set(true)">
  </app-navbar>

  <main class="main-content">
    <app-inventory-list></app-inventory-list>
  </main>

  <app-toast-container></app-toast-container>

  @if (showAuthModal()) {
    <app-auth-modal (close)="showAuthModal.set(false)"></app-auth-modal>
  }

  @if (showUserManagerModal()) {
    <app-user-manager-modal (close)="showUserManagerModal.set(false)"></app-user-manager-modal>
  }
</div>
